<!DOCTYPE html>
<html>
<head>
	<title>Server Explorer</title>
<!-- compiled CSS -->
<% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>

<!-- This script I don't know how is generated-->
	<script src="/socket.io/socket.io.js"></script>


<!-- vendor js -->
<% vendorFiles.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
<% }); %>


<!-- angular modules js -->
<% angularModules.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<!-- angular files js -->
<% angularApp.forEach( function ( file ) { %>
	<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
  
</head>
<body ng-app="server-file-browser" ng-controller="filesController" ng-init="initialize()">
	<div>
		<nav class="navbar navbar-default todo-navbar navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Server explorer <small>{{version}}</small></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="navbar-form navbar-left">
						<div class="btn-group" style="padding-left: 15px;">
					    	<button id='copy-btn' type="button" ng-click="copyFile()" class="btn btn-default" title="Copy file">
					    		<span class="glyphicon glyphicon-transfer"></span>
					    	</button>
						    <button id='delete-btn' type="button" ng-click="deleteFile()" class="btn btn-default" title="Delete file">
						  		<span class="glyphicon glyphicon-trash"></span>
						    </button>
						    <button id='newDir-btn' type="button" ng-click="chooseDir()" class="btn btn-default" title="New dir">
						    	<span class="glyphicon glyphicon-folder-open"></span>
						    </button>
						    <label class="btn btn-default" for="loadSubtl-btn" ng-disabled="!fileSelected" title="Upload subtitle">
							    <input id="loadSubtl-btn" type="file" style="display:none;" ng-model="model.file" change="upload(model)">
							    <span class="glyphicon glyphicon-upload"></span>
							</label>
						</div>
				    </form>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid main-content">
		<div class="row">
			
			<div class="col-md-6">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
	    					<div class="row">
	    						<div class="col-md-1">
	    							<h3>Origin</h3>
	    						</div>
	    						<div class="col-md-9">
									 <input type="text" class="form-control input-normal ng-pristine ng-valid" ng-model="rootOrigin"></input>
	    						</div>


	    						<div class="col-md-2" style="padding-left: 0px;">
	    							<button id="load-origin" type="button" class="btn btn-primary" ng-click="loadOriginFiles()">Load</button>
	    						</div>
	    					</div>
	  					</div>
	  					<div class="panel-body">
							<div class="col-md-10" id="main_content1"
							>
								<div
								    data-angular-treeview="true"
								    data-tree-id="originTree"
								    data-tree-model="origindata"
								    data-node-id="id"
								    data-node-label="label"
			    					data-node-children="children"
			    					on-node-expanded="onNodeExpanded" >
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>


			<div class="col-md-6" >
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
	    					<div class="row">
								<div class="col-md-1">
									<h3>Target</h3>
								</div>
	    						<div class="col-md-9">
	    							<input type="text" class="form-control input-normal ng-pristine ng-valid" ng-model="rootTarget"></input>
	    						</div>


	    						<div class="col-md-2" style="padding-left: 0px;">
	    							<button id='load-target' type="button" class="btn btn-primary" ng-click="loadTargetFiles()">Load</button>
	    						</div>
	    					</div>
	  					</div>
	  					<div class="panel-body">
							<div class="col-md-10" id="main_content2"
							>
								<div
								    data-angular-treeview="true"
								    data-tree-id="targetTree"
								    data-tree-model="targetdata"
								    data-node-id="id"
								    data-node-label="label"
			    					data-node-children="children"
			    					on-node-expanded="onNodeExpanded" >
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>


		</div>
		<div class="row">

			





		</div>

		<loading-dialog show="loading">
		</loading-dialog>
		<copy-dialog error="onCopyError(error)" end="onCopyEnd()">
		</copy-dialog>

		<new-dir-dialog show="createNewDir" target-dir="targetDir" accept="onDirCreated(dir)" error="onDirCreationError(err)">
		</new-dir-dialog>
	</div>

</body>
</html>