<div ng-controller="todoController" ng-init="initialize()">

		<table class="table table-condensed table-hover table-bordered table-striped">
			<tbody ng-repeat="todoModel in todoModels">
				<tr>
					<td colspan="2"><strong>{{todoModel.title}}</strong><span class="title-menu"><smal><a href="#" 
						ng-click="toggleShowDone(todoModel)">{{todoModel.hideCompleted?'show':'hide'}} completed</a> | <a href="#" ng-click="toggleShowList(todoModel)">{{todoModel.hideList?'expand':'collapse'}}</a></smal></span></td>
				</tr>
				<tr ng-repeat="item in todoModel.items" ng-mouseover="showOpts=true" ng-mouseleave="showOpts=false" 
				ng-if='showItem(todoModel, item)'>
					<td>
						<input type="checkbox" class="pendingtask" ng-checked="item.done" ng-click="markItem(item)"></input>
					</td>
					<td>
						<span in-line-editable edit-on-doubleclick ng-model="item" model-att="text" class="inlineEditable" after-update="modelUpdated" keyboard-enabled move-down="moveDown(todoModel, $index)"
						move-up="moveUp(todoModel, $index)" mark-item="markItem(item)" add-item="addItem(todoModel, $index)" remove-item="removeItem(todoModel, $index)">
						</span>
						<span ng-show="showOpts" class="context-menu">
							<button class="btn btn-success context-btn" ng-click="addItem(todoModel, $index)">+</button>
							<button class="btn btn-danger context-btn" ng-click="removeItem(todoModel, $index)">-</button>
							<button class="btn btn-info context-btn" ng-click="moveUp(todoModel, $index)">Up</button>
							<button class="btn btn-info context-btn" ng-click="moveDown(todoModel, $index)">Down</button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>

</div>